#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
{
  "policies": {
    "BlockAboutConfig": true,
    "BlockAboutProfiles": true,
    "DefaultDownloadDirectory": "${home}/Downloads",
    "DisableFirefoxStudies": true,
    "DisablePasswordReveal": true,
    "DisableTelemetry": true,
    "DisplayBookmarksToolbar": true,
    "OverrideFirstRunPage": "[% firefox_start_page %]|[% firefox_additional_start_page %]",
    "DownloadDirectory": "${home}/Downloads",
    "Homepage": {
      "URL": "[% firefox_start_page %]",
      "Locked": true,
      "StartPage": "homepage-locked",
      "Additional": ["[% firefox_additional_start_page %]"]
    },
    "Bookmarks": [
    {% for item in bookmarks %}
      {
        "Placement": "toolbar",
        "Title":"[% item.name %]",
        "URL": "[% item.value %]"
      },
      {% endfor %}
      {
        "Placement": "toolbar",
        "Title": "Linux",
        "URL": "https://linux-bildung.at"
      }
    ],
    "NoDefaultBookmarks": true,
    "OfferToSaveLogins": false,
    "PasswordManagerEnabled": false,
    "Preferences": {
      "media.gmp-widevinecdm.enabled": true,
      "browser.tabs.warnOnClose": false
    },
    "RequestedLocales": [
      "de"
    ],
    "SanitizeOnShutdown": {
      "Cache": true,
      "Cookies": true,
      "Downloads": true,
      "FormData": true,
      "History": true,
      "OfflineApps": true,
      "Sessions": true,
      "SiteSettings": true
    }
  }
}
